@font-face {
    font-family: 'Avenir LT Std';
    src: url('../../fonts/avenir/AvenirLTStd-Book.woff2') format('woff2'),
        url('../../fonts/avenir/AvenirLTStd-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

