/* ==========================================================================
	Core
========================================================================== */

$clead: #3E805F; // Leading Color
$clead2: #DCBA7B; // Secondary Leading Color

// Color themes for sections (c0 is brightest, c5 darkest) c0 is the default body theme
$c0: #f8f8f8; // Background
$c0h: #0a0a0c; // Headers Text
$c0p: #0a0a0c; // Body Text
$c0a: $clead; // Links
$c0ah: #0a0a0c; // Links Hover

$c1: #f0efee; // Background
$c1h: #0a0a0c; // Headers Text
$c1p: #0a0a0c; // Body Text
$c1a: $clead; // Links
$c1ah: #0a0a0c; // Links Hover

$c2: #d8dadc; // Background
$c2h: #0a0a0c; // Headers Text
$c2p: #0a0a0c; // Body Text
$c2a: $clead; // Links
$c2ah: #0a0a0c; // Links Hover

$c3: #e1e1e1; // Background
$c3h: #0a0a0c; // Headers Text
$c3p: #0a0a0c; // Body Text
$c3a: $clead; // Links
$c3ah: #0a0a0c; // Links Hover

$c4: #212121; // Background
$c4h: #D0C8B9; // Headers Text
$c4p: #D0C8B9; // Body Text
$c4a: #D0C8B9; // Links
$c4ah: $clead; // Links Hover

$c5: #274F37; // Background
$c5h: #D0C8B9; // Headers Text
$c5p: #D0C8B9; // Body Text
$c5a: $clead; // Links
$c5ah: #ffffff; // Links Hover

// Black/White, usually used for dark or bright image backgrounds
$x0: #ffffff; // Background
$x0h: #0a0a0c; // Headers Text
$x0p: #0a0a0c; // Body Text
$x0a: #0a0a0c; // Links
$x0ah: $clead; // Links Hover

$x1: #212121; // Background
$x1h: #fbfdff; // Headers Text
$x1p: #fbfdff; // Body Text
$x1a: #fbfdff; // Links
$x1ah: $clead; // Links Hover

// Don't forget to delete unused styles! Font imports at components/layout.js
$font1: 'Intensa', Helvetica, Arial, sans-serif; // Headers
$font2: 'LHF Desire PRO', Helvetica, Arial, sans-serif; // SubHeaders
$font2b: 'LHF Desire Uppercase 1', Helvetica, Arial, sans-serif; // SubHeaders
$font3: 'Josefin Sans', Helvetica, Arial, sans-serif; // Body

.font1 {
	font-family: $font1;
	font-weight: 400;
}
.font2 {
		font-family: $font2;
		font-weight: 400;

	span.capitalize {
		font-family: $font2b;
	}
}
.font3 {
	font-family: $font3 !important;
	font-weight: 400;
}

$fs: 16; // Font Size
$flh: 1.45; // Font Line Height
$fwh: 600; // Font Weight (Headers)
$fwhs: 600; // Font Weight (Strong Headers)
$fwb: 400; // Font Weight (Body)
$fwbs: 600; // Font Weight (Strong Body)

@import 'mixins/_mixins.scss'; // Frequently used mixins
@import 'animations/_animations.scss';
@import 'plugins/_hint.scss'; // Hint bubble
@import 'core/_normalize.scss'; // Normalize browsers
@import 'core/_typo.scss'; // Typography
@import 'core/_helpers.scss'; // Helpful classes
@import 'core/_rainbow.scss'; // Color themes
@import 'core/_grid.scss'; // Color themes

@import 'core/forms/_form.scss';
@import 'core/forms/_input.scss';
@import 'core/_decor.scss';
@import 'fonts/intensa/stylesheet.scss';
@import 'fonts/lhfdesirepro/stylesheet.scss';
@import 'fonts/josefinsans/stylesheet.scss';
// @import 'core/forms/_textarea.scss';
// @import 'core/forms/_checkbox.scss';
// @import 'core/forms/_radio.scss';
// @import 'core/forms/_upload.scss';
// @import 'core/forms/_select.scss';
// @import 'core/forms/_timepicker.scss';
// @import 'core/forms/_datepicker.scss';
// @import 'core/forms/_submit.scss';

/* ==========================================================================
	End D.Ł. dss
========================================================================== */