#newsletter-form {
	form {
		.grid-12 {
			align-items: stretch;
			justify-content: center;
			box-shadow: 0 0 0 1px #fff;
			padding: .125em;
		}

		&:active {
			.grid-12 {
				box-shadow: 0 0 0 1px #39DD7E;
			}
		}
	}

	p.message {
		margin-top: 1.75em;
	}

	label, button {
		margin-top: 0; 
		margin-bottom: 0; 
	}
	
	label {
		position: relative;
		display: flex;

		p.small {
			position: absolute;
			z-index: 200;
			top: 100%;
			left: 0;
			background: #1c1c1c;
			color: #fff;
			border-radius: 5px;
			padding: .35em .5em;
			transform: translate3d(1.25em, -.5em, 0);
			width: calc(100% - 2em);
			text-align: center;
		}

		input {
			margin: 0;
			height: 100%;
			text-align: left;
			background: url(./bar.png) no-repeat scroll left bottom transparent;
			background-size: auto 15%;

			@media screen and (max-width: 768px) {
				font-size: 16px !important;
			}
			&:-webkit-autofill {
				background: url(./bar.png) no-repeat scroll left bottom transparent !important;
			}

			//border-radius: 1em 0 0 1em;
		}
		input[data-autocompleted] {
			background: url(./bar.png) no-repeat scroll left bottom transparent !important;
		}
	}

	input {
		background: transparent;
		padding: .5em 0 .5em .5em;
		//border-bottom: 1px solid #526389;
		text-transform: uppercase;
		color: #3E805F;
		border-right: 0;
	}

	button {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0;
		white-space: nowrap;
		padding: .5em 1.5em;
		text-transform: uppercase;
		font-family: "Intensa", Helvetica, Arial, sans-serif;
		border-left: 0;

		//border-radius: 0 1em 1em 0;
		background: url(./bar.png) no-repeat scroll right bottom transparent;
		background-size: auto 15%;
		//border-bottom: 1px solid #526389;
		//color: #7A76A9;
		//border-left: 1px solid darken(#f1f1f1, 9%);

		&:hover {
			color: #4CA378;
			//background: #526389;
			//border-bottom-color: #4CA378;
		}

		&:active {
			transition: none;
			color: darken(#4CA378, 10%);
			//background: #4CA378;
			//border-bottom-color: darken(#4CA378, 10%);

			.fa-caret-right {
				transform: translateY(1px);
			}
		}

		.fa-caret-right {
			font-size: 2em;
		}
	}
}