@font-face {
    font-family: 'Alice';
    src: url('../../fonts/alice/Alice-Regular.woff2') format('woff2'),
        url('../../fonts/alice/Alice-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

