@font-face {
    font-family: 'Suisse Int\'l';
    src: url('SuisseIntl-Black.woff2') format('woff2'),
        url('SuisseIntl-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Int\'l';
    src: url('SuisseIntl-Bold.woff2') format('woff2'),
        url('SuisseIntl-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Int\'l';
    src: url('SuisseIntl-Book.woff2') format('woff2'),
        url('SuisseIntl-Book.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Int\'l';
    src: url('SuisseIntl-Medium.woff2') format('woff2'),
        url('SuisseIntl-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Int\'l';
    src: url('SuisseIntl-Regular.woff2') format('woff2'),
        url('SuisseIntl-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Int\'l';
    src: url('SuisseIntl-Light.woff2') format('woff2'),
        url('SuisseIntl-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Int\'l';
    src: url('SuisseIntl-Semibold.woff2') format('woff2'),
        url('SuisseIntl-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Int\'l Mono';
    src: url('SuisseIntlMono-Regular.woff2') format('woff2'),
        url('SuisseIntlMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

