@font-face {
    font-family: 'Suisse Int\'l';
    src: url('../../fonts/suisse/SuisseIntl-Black.woff2') format('woff2'),
        url('../../fonts/suisse/SuisseIntl-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Int\'l';
    src: url('../../fonts/suisse/SuisseIntl-Bold.woff2') format('woff2'),
        url('../../fonts/suisse/SuisseIntl-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Int\'l';
    src: url('../../fonts/suisse/SuisseIntl-Book.woff2') format('woff2'),
        url('../../fonts/suisse/SuisseIntl-Book.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Int\'l';
    src: url('../../fonts/suisse/SuisseIntl-Medium.woff2') format('woff2'),
        url('../../fonts/suisse/SuisseIntl-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Int\'l';
    src: url('../../fonts/suisse/SuisseIntl-Regular.woff2') format('woff2'),
        url('../../fonts/suisse/SuisseIntl-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Int\'l';
    src: url('../../fonts/suisse/SuisseIntl-Light.woff2') format('woff2'),
        url('../../fonts/suisse/SuisseIntl-Light.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Int\'l';
    src: url('../../fonts/suisse/SuisseIntl-Semibold.woff2') format('woff2'),
        url('../../fonts/suisse/SuisseIntl-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suisse Int\'l Mono';
    src: url('../../fonts/suisse/SuisseIntlMono-Regular.woff2') format('woff2'),
        url('../../fonts/suisse/SuisseIntlMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

