@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-outline-custom {
    filter: drop-shadow(1px 0px 0px rgba(112,112,112,1)) drop-shadow(-1px 0px 0px rgba(112,112,112,1)) drop-shadow(0px 1px 0px rgba(112,112,112,1)) drop-shadow(0px -1px 0px rgba(112,112,112,1));
  }

}


/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  border-radius: 0px;
}

::-webkit-scrollbar-track {
  background-color: hsl(var(--background));
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(220, 186, 123);
  border-radius: 0px;
  border: 0px solid hsl(var(--background));
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--foreground));
  border-radius: 0px;
}

/* Force square scrollbar ends in WebKit */
::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  background-clip: padding-box;
}