/* ==========================================================================
  Default
========================================================================== */

input,
textarea,
button[type="submit"] {
	position: relative;
	z-index: 100;
	
	display: block;
	width: 100%;
	padding: .4em 1.5em;
  margin: .1em 0;

	background: none;
	outline: none;
	border-width: 1px;
	border-style: solid;
	border-radius: 0;

	font-family: inherit;
	font-weight: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	color: inherit;

	-webkit-appearance: none;
	
	font-size: 1em;
  line-height: 1.5;
	text-align: inherit;
	
	transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;

	&[type="submit"] {
		font-weight: 600;
		margin-top: .75em;
		cursor: pointer;
	}

	@media screen and (max-width: 1024px) {
		font-size: 16px !important;
	}
}

button[type="submit"] {
	font-weight: 600;
	margin-top: .75em;
	cursor: pointer;
}

input,
textarea {
	&::-webkit-input-placeholder {
		color: #838D78;
	}
	&:-moz-placeholder { /* Firefox 18- */
		color: #838D78;
	}
	&::-moz-placeholder {  /* Firefox 19+ */
		color: #838D78;
	}
	&:-ms-input-placeholder {
		color: #838D78;
	}
}

input:active, input:focus {
	outline: none;

  &::-webkit-input-placeholder {
  	opacity: 0;
  }
  &:-moz-placeholder { /* Firefox 18- */
  	opacity: 0;
  }
  &::-moz-placeholder {  /* Firefox 19+ */
  	opacity: 0;
  }
  &:-ms-input-placeholder {
  	opacity: 0;
  }
}

/* ==========================================================================
   Submit
   ========================================================================== */

input[type="submit"] {

}	

/* ==========================================================================
  Number (with - / + )
========================================================================== */

.input-number {
	display: flex;

	.subtract {
		flex: 0 0 2em;
		width: 2em;
		padding: .25em .5em;
		border-right: 0;

		&:hover {
			transform: translate3d(0,0,0);
		}
		&:active {
			transform: translate3d(0,1px,0);
		}
	}

	.add {
		flex: 0 0 2em;
		width: 2em;
		padding: .25em .5em;
		border-left: 0;

		&:hover {
			transform: translate3d(0,0,0);
		}
		&:active {
			transform: translate3d(0,1px,0);
		}
	}

	input {
		max-width: 6em;
		text-align: center;
	}
	
	/* Chrome, Safari, Edge, Opera */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	/* Firefox */
	input[type=number] {
		-moz-appearance: textfield;
	}
}


.input-number-wrap {
	display: flex;
	justify-content: center;
	padding-top: .25em;
	padding-bottom: .25em;

	.subtract {
		flex: 0 0 2em;
		width: 2em;
		padding: .25em .5em;
		border-width: 1px;
		border-style: solid;
		border-right: 0;
		color: $c5p;
		border-color: $clead2;
		font-family: $font3;
		//background-color: transparent !important;
		background: #213C24 !important;
		clip-path: none !important;

		&:hover {
			transform: translate3d(0,0,0);
		}
	}

	.add {
		flex: 0 0 2em;
		width: 2em;
		padding: .25em .5em;
		border-width: 1px;
		border-style: solid;
		border-left: 0;
		color: $c5p;
		border-color: $clead2;
		font-family: $font3;
		//background-color: transparent !important;
		background: #213C24 !important;
		clip-path: none !important;

		&:hover {
			transform: translate3d(0,0,0);
		}
	}

	input {
		width: auto;
		max-width: 6em;
		padding: .25em .5em;
		margin: 0;
		text-align: center;
		background: #213C24;
		border: 1px solid $clead2;
		font-size: 1em;
		color: $c0;
	}
	
	/* Chrome, Safari, Edge, Opera */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	/* Firefox */
	input[type=number] {
		-moz-appearance: textfield;
	}
}

.btn,
button:not(.regular, .react-datepicker__navigation, .react-datepicker__close-icon) {
	position: relative;
	display: inline-block;
	text-transform: uppercase;
	padding: .65em 1.75em;
	border: 1px solid $clead2;
	background: transparent;
	color: $c5p;
	text-decoration: none;
	text-shadow: none !important;
	background-image: none !important;
	cursor: pointer;

	clip-path: polygon(0 .125em, .5em .25em, .5em 0, calc(100% - .5em) 0, calc(100% - .5em) .25em, 100% .125em, 100% calc(100% - .125em), calc(100% - .5em) calc(100% - .25em), calc(100% - .5em) 100%, .5em 100%, .5em calc(100% - .25em), 0 100%);
	font-family: $font1 !important;
	padding: .75em 3em .55em;
	line-height: 1;
	background-color: $clead2 !important;
	color: #274F37;

	span {
		font-size: 1em;
		text-shadow: none;
		text-decoration: none;
	}

	@include tcb(all);

	@media screen and (max-width: 1024px) {
		padding: .6em 1.5em;
	}

	&:hover {
		//transform: translate3d(0,-3px,0);
		//background: $c5;
		//color: $c0;
		//border-color: $c3;
		//box-shadow: 0 5px 10px -1px rgba(0,0,0,0.35);
	}

	&:active {
		transform: translate3d(0,0,0);
	}

	&:disabled {
		opacity: 0.5;
		border-color: $c0;
		color: $c0;
		cursor: default;
	}

	&:hover {
		color: #fff;
	}

	&:active {
		color: #274F37;
		transition: none;
	}
}
