.shop-featured {
	padding: 1.25em;
	.heading-section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    position: relative;

    .decor-wrap {
      z-index: -1;
      padding: 0;
      justify-content: center;
    }
    .title {
      color: #DCBA7B !important;
      padding: 0 0.3em;
      margin: 0 !important;
    }
  }
	.bottom-heading-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .decor-wrap {
      z-index: -1;
      padding: 0;
      justify-content: center;
    }
    .title {
      padding: 2em 0.75em;
      margin: 0 !important;
    }
  }
	.decor-wrap {
		z-index: 1;
	}

	&.nofeatured {
		.gallery {
			display: none !important;
		}
	}

	.shop-intro {
		margin: 3em 2em 5em;

		@media screen and (max-width: 1024px) {
			margin: 3em auto 5em;
		}
	}

	.featured {
		position: absolute;
		z-index: 300;
		top: 3em;
		left: 3em;
		background-color: #2A4B2E;
		padding: .4em .5em .25em;
		border: 1px solid #DCBA7B;
		line-height: 1;
		display: flex;
		align-items: center;
		margin: 0;
	}

	.gallery {
		width: 100%;
		padding-bottom: 56%;

		@media screen and (max-width: 1024px) {
			padding-bottom: 0;
			height: auto;
		}

		.gallery-inner {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			padding: 4em;

			@media screen and (max-width: 1024px) {
				position: relative;
				padding: 2em;
				flex-direction: column;

				.slick-slider {
					height: 56vw;
				}
			}

			.slick-slider {
				border: 1px solid #DCBA7B;
			}
		}
	}

	.gallery-overlay {
		position: absolute;
		z-index: 500;
		bottom: 0;
		right: 0;
		width: 80%;
		max-width: 40em;
		height: auto;
		padding: 3em;
		text-align: justify;

		@media screen and (max-width: 1024px) {
			position: relative;
			max-width: 100%;
			width: 100%;
			left: 0;
			top: 0;
			padding: calc(.5em + 1px) .5em .5em;
		}

		.inner {
			display: flex;
			flex-direction: column;
			padding: 1.5em 2em;
			border: 1px solid #DCBA7B;
			font-size: .85em;

			@media screen and (max-width: 1024px) {
				text-align: center;
			}

			h4 {
				margin-bottom: .25em;
			}

			.description {
				margin: .5em 0 1em;

				p {
					margin-top: 0;
					margin-bottom: .5em;
				}

				&:empty {
					margin: 0;
				}
			}

			.shop-now {
				margin: .75em 0 .5em;

				.btn {
					font-size: 1.125em;
					line-height: 1;
					padding: .55em 3em .35em;
					background-size: 100% 100%;
					background-color: transparent !important;
					color: #2A4B2E;
			
					&:hover {
						color: #fff;
					}
			
					&:active {
						color: #2A4B2E;
						transition: none;
					}
				}
			}
		}
	}

	.gallery-overlay-price {
		position: absolute;
		z-index: 500;
		top: 0;
		right: 0;
		width: auto;
		max-width: 90%;
		height: auto;
		padding: 3em;

		.inner {
			padding: .5em 1em;
			border: 1px solid #DCBA7B;
		}
	}

	.product-grid {

		@media screen and (max-width: 1024px) {
			padding-top: 0;
		}

		article {
			cursor: pointer;

			.img-cover {
				transition: all .3s ease-in-out;
			}

			.shop-now-basic {
				opacity: 0;
				transition: all .3s ease-in-out;
			}

			&:hover {
				.img-cover {
					opacity: .5;
				}
				.shop-now-basic {
					opacity: 1;
					color: #fff;
				}
			}

			&:active {
				.img-cover {
					opacity: .25;
					transition: none;
				}
			}
		}
	}

	.product-single {
		background: #000;
		.aspect-ratio {
			padding-bottom: 67.5%;

			&:hover {
				color: #DCBA7B;
			}
		}
		.price {
			position: absolute;
			z-index: 300;
			top: 0;
			right: 0;
			background-color: #2A4B2E;
			padding: .4em .5em .25em;
			border-bottom: 1px solid #DCBA7B;
			border-left: 1px solid #DCBA7B;
			line-height: 1;
			display: flex;
			align-items: center;
			margin: 0;
		}

		.shop-now {
			position: absolute;
			z-index: 300;
			bottom: 0;
			right: 0;
			background-color: #2A4B2E;
			padding: .4em .5em .25em;
			border-top: 1px solid #DCBA7B;
			border-left: 1px solid #DCBA7B;
			line-height: 1;
			display: flex;
			align-items: center;

			> * {
				margin: 0;
			}
		}

	}
}


.gallery-inner {
	z-index: 2000;
	opacity: 1;

	.shop-now-basic {
		opacity: 0;
		transition: all .3s ease-in-out;
	}
	.image {
		transition: all .3s ease-in-out;
	}
	&:hover {
		.image {
			opacity: .5;
		}
		.shop-now-basic {
			opacity: 1;
			color: #fff;
		}
	}
}

.product-grid {


	.product {
		flex: 0 0 25%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 20%;
		padding: 2em;
		text-align: center;

		.title {
			padding-top: 1em;
		}

		a {
			transition: all 0.3s ease-in-out;
		}
		a:hover {
			opacity: 0.6;
		}

		a.btn {
			margin-top: .5em;
		}

		@media screen and (max-width: 1024px) {
			flex: 0 0 50%;
		}
	}
}

.shop-now-basic {
	position: absolute;
	z-index: 2000;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%,-50%,0);
	font-size: 1.25em;
	text-align: center;
	padding: 1em;
	width: 100%;
	max-width: 80%;
	background: url(./order-online-border.png) no-repeat scroll center transparent;
	background-size: contain;
	color: #fff;
}