.master-logo {
	position: relative;
	display: flex;
	padding: 0;
	min-height: 3.5em;

	flex: 0 0 auto;

	width: 100%;
	max-width: 12em;
	margin: .25em 1.5em 1.25em;
	padding-left: 2em;


	.aspect-ratio {
		width: 100%;
		padding-bottom: 38%;
		background: url(logo-green.png) no-repeat scroll center left transparent;
		background-size: contain;
	}
}