@font-face {
    font-family: 'Intensa';
    src: url('./Intensa-College.woff2') format('woff2'),
        url('./Intensa-College.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

