@font-face {
    font-family: 'LHF Desire PRO';
    src: url('./LHFDesirePRO.woff2') format('woff2'),
        url('./LHFDesirePRO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LHF Desire Uppercase 1';
    src: url('./LHFDesireUppercase1.woff2') format('woff2'),
        url('./LHFDesireUppercase1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

