/* ==========================================================================
  Grid
========================================================================== */

.grid-12 {
	display: grid !important;
	width: 100%;
	grid-template-columns: repeat(12, 1fr);

	&.center {
		align-items: center;
	}

	.span-1 {
		grid-column: span 1;
		width: 100%;
	}
	.span-2 {
		grid-column: span 2;
		width: 100%;
	}
	.span-3 {
		grid-column: span 3;
		width: 100%;
	}
	.span-4 {
		grid-column: span 4;
		width: 100%;
	}
	.span-5 {
		grid-column: span 5;
		width: 100%;
	}
	.span-6 {
		grid-column: span 6;
		width: 100%;
	}
	.span-7 {
		grid-column: span 7;
		width: 100%;
	}
	.span-8 {
		grid-column: span 8;
		width: 100%;
	}
	.span-9 {
		grid-column: span 9;
		width: 100%;
	}
	.span-10 {
		grid-column: span 10;
		width: 100%;
	}
	.span-11 {
		grid-column: span 11;
		width: 100%;
	}
	.span-12 {
		grid-column: span 12;
		width: 100%;
	}

	.col-start-1 {
		grid-column-start: 1;
	}
	.col-start-2 {
		grid-column-start: 2;
	}
	.col-start-3 {
		grid-column-start: 3;
	}
	.col-start-4 {
		grid-column-start: 4;
	}
	.col-start-5 {
		grid-column-start: 5;
	}
	.col-start-6 {
		grid-column-start: 6;
	}
	.col-start-7 {
		grid-column-start: 7;
	}
	.col-start-8 {
		grid-column-start: 8;
	}
	.col-start-9 {
		grid-column-start: 9;
	}
	.col-start-10 {
		grid-column-start: 10;
	}
	.col-start-11 {
		grid-column-start: 11;
	}
	.col-start-12 {
		grid-column-start: 12;
	}

	&.gap-1 {
		grid-gap: 1em;
	}
	&.gap-2 {
		grid-gap: 2em;
	}
	&.gap-3 {
		grid-gap: 3em;
	}
	&.gap-4 {
		grid-gap: 4em;
	}

	@media screen and (max-width: 1600px) {
		.span-1-laptop {
			grid-column: span 1;
		}
		.span-2-laptop {
			grid-column: span 2;
		}
		.span-3-laptop {
			grid-column: span 3;
		}
		.span-4-laptop {
			grid-column: span 4;
		}
		.span-5-laptop {
			grid-column: span 5;
		}
		.span-6-laptop {
			grid-column: span 6;
		}
		.span-7-laptop {
			grid-column: span 7;
		}
		.span-8-laptop {
			grid-column: span 8;
		}
		.span-9-laptop {
			grid-column: span 9;
		}
		.span-10-laptop {
			grid-column: span 10;
		}
		.span-11-laptop {
			grid-column: span 11;
		}
		.span-12-laptop {
			grid-column: span 12;
		}
	}

	@media screen and (max-width: 1024px) {
		.span-1-tablet {
			grid-column: span 1;
		}
		.span-2-tablet {
			grid-column: span 2;
		}
		.span-3-tablet {
			grid-column: span 3;
		}
		.span-4-tablet {
			grid-column: span 4;
		}
		.span-5-tablet {
			grid-column: span 5;
		}
		.span-6-tablet {
			grid-column: span 6;
		}
		.span-7-tablet {
			grid-column: span 7;
		}
		.span-8-tablet {
			grid-column: span 8;
		}
		.span-9-tablet {
			grid-column: span 9;
		}
		.span-10-tablet {
			grid-column: span 10;
		}
		.span-11-tablet {
			grid-column: span 11;
		}
		.span-12-tablet {
			grid-column: span 12;
		}
	}

	@media screen and (max-width: 728px) {
		.span-1-mobile {
			grid-column: span 1;
		}
		.span-2-mobile {
			grid-column: span 2;
		}
		.span-3-mobile {
			grid-column: span 3;
		}
		.span-4-mobile {
			grid-column: span 4;
		}
		.span-5-mobile {
			grid-column: span 5;
		}
		.span-6-mobile {
			grid-column: span 6;
		}
		.span-7-mobile {
			grid-column: span 7;
		}
		.span-8-mobile {
			grid-column: span 8;
		}
		.span-9-mobile {
			grid-column: span 9;
		}
		.span-10-mobile {
			grid-column: span 10;
		}
		.span-11-mobile {
			grid-column: span 11;
		}
		.span-12-mobile {
			grid-column: span 12;
		}
	}
}

/* ==========================================================================
  Order
========================================================================== */

.order-1 {
	order: 1;
}
.order-2 {
	order: 2;
}
.order-3 {
	order: 3;
}
.order-4 {
	order: 4;
}
.order-5 {
	order: 5;
}
.order-6 {
	order: 6;
}

@media screen and (max-width: 1024px) {
	.order-1-tablet {
		order: 1;
	}
	.order-2-tablet {
		order: 2;
	}
	.order-3-tablet {
		order: 3;
	}
	.order-4-tablet {
		order: 4;
	}
	.order-5-tablet {
		order: 5;
	}
	.order-6-tablet {
		order: 6;
	}
}

@media screen and (max-width: 728px) {
	.order-1-mobile {
		order: 1;
	}
	.order-2-mobile {
		order: 2;
	}
	.order-3-mobile {
		order: 3;
	}
	.order-4-mobile {
		order: 4;
	}
	.order-5-mobile {
		order: 5;
	}
	.order-6-mobile {
		order: 6;
	}
}

/* ==========================================================================
  Display
========================================================================== */

.flex {
	display: flex;
}

/* ==========================================================================
  Padding
========================================================================== */

.padd {
	padding: 1em;

	@media screen and (max-width: 1024px) {
		padding: .5em;
	}
}
.padd-top {
	padding-top: 1em;

	@media screen and (max-width: 1024px) {
		padding-top: .5em;
	}
}
.padd-bottom {
	padding-bottom: 1em;

	@media screen and (max-width: 1024px) {
		padding-bottom: .5em;
	}
}

.padd-2 {
	padding: 2em;

	@media screen and (max-width: 1024px) {
		padding: 1em;
	}
}
.padd-top-2 {
	padding-top: 2em;

	@media screen and (max-width: 1024px) {
		padding-top: 1em;
	}
}
.padd-bottom-2 {
	padding-bottom: 2em;

	@media screen and (max-width: 1024px) {
		padding-bottom: 1em;
	}
}

.padd-3 {
	padding: 3em;

	@media screen and (max-width: 1024px) {
		padding: 1.5em;
	}
}
.padd-top-3 {
	padding-top: 3em;

	@media screen and (max-width: 1024px) {
		padding-top: 1.5em;
	}
}
.padd-bottom-3 {
	padding-bottom: 3em;

	@media screen and (max-width: 1024px) {
		padding-bottom: 1.5em;
	}
}

.padd-4 {
	padding: 4em;

	@media screen and (max-width: 1024px) {
		padding: 2em;
	}
}
.padd-top-4 {
	padding-top: 4em;

	@media screen and (max-width: 1024px) {
		padding-top: 2em;
	}
}
.padd-bottom-4 {
	padding-bottom: 4em;

	@media screen and (max-width: 1024px) {
		padding-bottom: 2em;
	}
}

.padd-top-off {
	padding-top: 0;
}
.padd-left-off {
	padding-left: 0;
}
.padd-right-off {
	padding-bottom: 0;
}
.padd-bottom-off {
	padding-bottom: 0;
}