@use 'sass:math';

/* ==========================================================================
  Grid
========================================================================== */

.grid {
	display: grid !important;
	width: 100%;

	> div {
		grid-column: span 12;
	}
}

.area-0 {
	grid-area: a;
}
.area-1 {
	grid-area: b;
}
.area-2 {
	grid-area: c;
}
.area-3 {
	grid-area: d;
}
.area-4 {
	grid-area: e;
}
.area-5 {
	grid-area: f;
}
.area-6 {
	grid-area: g;
}
.area-7 {
	grid-area: h;
}
.area-8 {
	grid-area: i;
}
.area-9 {
	grid-area: j;
}
.area-10 {
	grid-area: k;
}
.area-11 {
	grid-area: l;
}
.area-12 {
	grid-area: m;
}
.area-13 {
	grid-area: n;
}
.area-14 {
	grid-area: o;
}
.area-15 {
	grid-area: p;
}
.area-16 {
	grid-area: q;
}
.area-17 {
	grid-area: r;
}
.area-18 {
	grid-area: s;
}
.area-19 {
	grid-area: t;
}
.area-20 {
	grid-area: u;
}
.area-21 {
	grid-area: v;
}
.area-22 {
	grid-area: w;
}
.area-23 {
	grid-area: x;
}
.area-24 {
	grid-area: y;
}
.area-25 {
	grid-area: z;
}

/* ==========================================================================
  Flex Grid
========================================================================== */

.flex-12 {
	display: flex;
	flex-wrap: wrap;
	width: 100%;

	&.center {
		align-items: center;
	}

	> div {
		flex: 1 1 100%;
	}

	.span-1 {
		flex: 0 1 math.div(100, 12) * 1%;
		width: 100%;
	}
	.span-2 {
		flex: 0 1 math.div(100, 12) * 2%;
		width: 100%;
	}
	.span-3 {
		flex: 0 1 math.div(100, 12) * 3%;
		width: 100%;
	}
	.span-4 {
		flex: 0 1 math.div(100, 12) * 4%;
		width: 100%;
	}
	.span-5 {
		flex: 0 1 math.div(100, 12) * 5%;
		width: 100%;
	}
	.span-6 {
		flex: 0 1 math.div(100, 12) * 6%;
		width: 100%;
	}
	.span-7 {
		flex: 0 1 math.div(100, 12) * 7%;
		width: 100%;
	}
	.span-8 {
		flex: 0 1 math.div(100, 12) * 8%;
		width: 100%;
	}
	.span-9 {
		flex: 0 1 math.div(100, 12) * 9%;
		width: 100%;
	}
	.span-10 {
		flex: 0 1 math.div(100, 12) * 10%;
		width: 100%;
	}
	.span-11 {
		flex: 0 1 math.div(100, 12) * 11%;
		width: 100%;
	}
	.span-12 {
		flex: 0 1 math.div(100, 12) * 12%;
		width: 100%;
	}

	&.gap-1 {
		grid-column-gap: 1em;
	}
	&.gap-row-1 {
		grid-row-gap: 1em;
	}
	&.gap-2 {
		grid-column-gap: 2em;
	}
	&.gap-3 {
		grid-column-gap: 3em;
	}
	&.gap-4 {
		grid-column-gap: 4em;
	}

	&.no-wrap {
		flex-wrap: nowrap;
	}

	@media screen and (max-width: 1024px) {
		.span-1-tablet {
			flex: 0 1 math.div(100, 12) * 1%;
		}
		.span-2-tablet {
			flex: 0 1 math.div(100, 12) * 2%;
		}
		.span-3-tablet {
			flex: 0 1 math.div(100, 12) * 3%;
		}
		.span-4-tablet {
			flex: 0 1 math.div(100, 12) * 4%;
		}
		.span-5-tablet {
			flex: 0 1 math.div(100, 12) * 5%;
		}
		.span-6-tablet {
			flex: 0 1 math.div(100, 12) * 6%;
		}
		.span-7-tablet {
			flex: 0 1 math.div(100, 12) * 7%;
		}
		.span-8-tablet {
			flex: 0 1 math.div(100, 12) * 8%;
		}
		.span-9-tablet {
			flex: 0 1 math.div(100, 12) * 9%;
		}
		.span-10-tablet {
			flex: 0 1 math.div(100, 12) * 10%;
		}
		.span-11-tablet {
			flex: 0 1 math.div(100, 12) * 11%;
		}
		.span-12-tablet {
			flex: 0 1 math.div(100, 12) * 12%;
		}
	}

	@media screen and (max-width: 728px) {
		.span-1-mobile {
			flex: 0 1 math.div(100, 12) * 1%;
		}
		.span-2-mobile {
			flex: 0 1 math.div(100, 12) * 2%;
		}
		.span-3-mobile {
			flex: 0 1 math.div(100, 12) * 3%;
		}
		.span-4-mobile {
			flex: 0 1 math.div(100, 12) * 4%;
		}
		.span-5-mobile {
			flex: 0 1 math.div(100, 12) * 5%;
		}
		.span-6-mobile {
			flex: 0 1 math.div(100, 12) * 6%;
		}
		.span-7-mobile {
			flex: 0 1 math.div(100, 12) * 7%;
		}
		.span-8-mobile {
			flex: 0 1 math.div(100, 12) * 8%;
		}
		.span-9-mobile {
			flex: 0 1 math.div(100, 12) * 9%;
		}
		.span-10-mobile {
			flex: 0 1 math.div(100, 12) * 10%;
		}
		.span-11-mobile {
			flex: 0 1 math.div(100, 12) * 11%;
		}
		.span-12-mobile {
			flex: 0 1 math.div(100, 12) * 12%;
		}
	}

	.js-flex-end {
		margin-left: auto;
	}
	.js-flex-start {
		margin-right: auto;
	}
	.js-center {
		margin-left: auto;
		margin-right: auto;
	}
}

/* ==========================================================================
  Order
========================================================================== */

.order-1 {
	order: 1;
}
.order-2 {
	order: 2;
}
.order-3 {
	order: 3;
}
.order-4 {
	order: 4;
}
.order-5 {
	order: 5;
}
.order-6 {
	order: 6;
}

@media screen and (max-width: 1024px) {
	.order-1-tablet {
		order: 1;
	}
	.order-2-tablet {
		order: 2;
	}
	.order-3-tablet {
		order: 3;
	}
	.order-4-tablet {
		order: 4;
	}
	.order-5-tablet {
		order: 5;
	}
	.order-6-tablet {
		order: 6;
	}
}

@media screen and (max-width: 728px) {
	.order-1-mobile {
		order: 1;
	}
	.order-2-mobile {
		order: 2;
	}
	.order-3-mobile {
		order: 3;
	}
	.order-4-mobile {
		order: 4;
	}
	.order-5-mobile {
		order: 5;
	}
	.order-6-mobile {
		order: 6;
	}
}

/* ==========================================================================
  Display
========================================================================== */

.flex {
	display: flex;
	flex-wrap: wrap;
}

.fd-column {
	flex-direction: column;
}

.fd-row {
	flex-direction: row !important;
}

.ac-center {
  align-content: center;
}

.ai-flex-end {
	align-items: flex-end;
}
.ai-flex-start {
	align-items: flex-start;
}

.ac-flex-end {
	align-content: flex-end;
}
.ac-flex-start {
	align-content: flex-start;
}
.ai-center {
	align-items: center;
}

.jc-flex-end {
	justify-content: flex-end;
}
.jc-flex-start {
	justify-content: flex-start;
}
.jc-center {
	justify-content: center;
}
.jc-space-between {
	justify-content:	space-between;
}

.as-flex-end {
	align-self: flex-end;
}

.as-flex-start {
	align-self: flex-start;
}

.as-center {
	align-self: center;
}

/* ==========================================================================
  Padding
========================================================================== */

.gap {
	grid-gap: calc(1em + 2vw);
}

.padd {
	padding: calc(1em + 2vw);
}

.padd-half {
	padding: calc(.5em + 1vw);
}

.padd-third {
	padding: calc(.35em + .75vw);
}

.padd-quart {
	padding: calc(.25em + .5vw);
}

.padd-2 {
	padding: calc(2em + 4vw);
}

.padd-3 {
	padding: calc(3em + 6vw);

	@media screen and (max-width: 1024px) {
		padding: 1.5em;
	}
}
.padd-top-3 {
	padding-top: calc(3em + 6vw);

	@media screen and (max-width: 1024px) {
		padding-top: 1.5em;
	}
}
.padd-right-3 {
	padding-right: calc(3em + 6vw);

	@media screen and (max-width: 1024px) {
		padding-right: 1.5em;
	}
}
.padd-bottom-3 {
	padding-bottom: calc(3em + 6vw);

	@media screen and (max-width: 1024px) {
		padding-bottom: 1.5em;
	}
}
.padd-left-3 {
	padding-left: calc(3em + 6vw);

	@media screen and (max-width: 1024px) {
		padding-left: 1.5em;
	}
}

.padd-4 {
	padding: calc(4em + 8vw);

	@media screen and (max-width: 1024px) {
		padding: 2em;
	}
}
.padd-top-4 {
	padding-top: calc(4em + 8vw);

	@media screen and (max-width: 1024px) {
		padding-top: 2em;
	}
}
.padd-right-4 {
	padding-right: calc(4em + 8vw);

	@media screen and (max-width: 1024px) {
		padding-right: 2em;
	}
}
.padd-bottom-4 {
	padding-bottom: calc(4em + 8vw);

	@media screen and (max-width: 1024px) {
		padding-bottom: 2em;
	}
}
.padd-left-4 {
	padding-left: calc(4em + 8vw);

	@media screen and (max-width: 1024px) {
		padding-left: 2em;
	}
}

.padd-top-off {
	padding-top: 0;
}
.padd-left-off {
	padding-left: 0;
}
.padd-right-off {
	padding-right: 0;
}
.padd-bottom-off {
	padding-bottom: 0;
}


@media screen and (max-width: 728px) {
	.padd-quart-mobile {
		padding: calc(.25em + .5vw);
	}
	.padd-half-mobile {
		padding: calc(.5em + 1vw);
	}
	.padd-top-half-mobile {
		padding-top: calc(.5em + 1vw);
	}
	.padd-left-half-mobile {
		padding-left: calc(.5em + 1vw);
	}
	.padd-right-half-mobile {
		padding-right: calc(.5em + 1vw);
	}
	.padd-bottom-half-mobile {
		padding-bottom: calc(.5em + 1vw);
	}
}

.padd-top-half {
	padding-top: calc(.5em + 1vw);
}
.padd-right-half {
	padding-right: calc(.5em + 1vw);
}
.padd-bottom-half {
	padding-bottom: calc(.5em + 1vw);
}
.padd-left-half {
	padding-left: calc(.5em + 1vw);
}

.padd-top-quart {
	padding-top: calc(.25em + .5vw);
}
.padd-right-quart {
	padding-right: calc(.25em + .5vw);
}
.padd-bottom-quart {
	padding-bottom: calc(.25em + .5vw);
}
.padd-left-quart {
	padding-left: calc(.25em + .5vw);
}

.padd-top {
	padding-top: calc(1em + 2vw);
}
.padd-right {
	padding-right: calc(1em + 2vw);
}
.padd-bottom {
	padding-bottom: calc(1em + 2vw);
}
.padd-left {
	padding-left: calc(1em + 2vw);
}

.padd-top-2 {
	padding-top: calc(2em + 4vw);
}
.padd-right-2 {
	padding-right: calc(2em + 4vw);
}
.padd-bottom-2 {
	padding-bottom: calc(2em + 4vw);
}
.padd-left-2 {
	padding-left: calc(2em + 4vw);
}

.padd-top-1-5 {
	padding-top: calc(1.5em + 3vw);
}
.padd-right-1-5 {
	padding-right: calc(1.5em + 3vw);
}
.padd-bottom-1-5 {
	padding-bottom: calc(1.5em + 3vw);
}
.padd-left-1-5 {
	padding-left: calc(1.5em + 3vw);
}




/* ==========================================================================
  Margin
========================================================================== */

.margin-off {
	margin: 0 !important;
}