.feature-box {
	position: relative;
	overflow: hidden;

	.aspect-ratio {
		padding-bottom: 70%;
	}

	.feature-box-positioner {
		position: absolute;
		inset: 0;
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: center;
		border-radius: 5px;
		// overflow: hidden;
		background-color: var(--clead);
		color: var(--c0);

		&:after {
			content: '';
			z-index: 200;
			position: absolute;
			top: calc(100% - 1px);
			left: 20%;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: .65em .65em 0 .65em;
			border-color: var(--clead) transparent transparent transparent;
		}
	}

	.feature-box-icon {
		flex: 1 1 30%;
		max-width: 30%;
	}

	h3 {
		font-family: var(--font-secondary);
		font-weight: 300;
		font-style: italic;
		margin-top: 3.5em;
		font-size: .85em;
		// opacity: 0.2;
	}
	h2 {
		font-weight: 700;
		font-size: 1.5em;
		margin-top: -.35em;

		+ p {
			margin-top: 1.5em;
		}
	}
	p {
		font-style: italic;
		word-spacing: .05em;
	}
}


.above-all {
	.aspect-ratio {
		z-index: -1;
		padding-bottom: 20%;
	}
}

.backdrop-award-1 {
	z-index: -1;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 50%;
	height: 100%;
	transform: rotate(11deg) scale(1.3) translate3d(-20%, 0%, 0);
	// opacity: 0.2
}
.backdrop-award-2 {
	z-index: -1;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 50%;
	height: 100%;
	transform: rotate(-9deg) scale(1) translate3d(36%, 20%, 0);
	// opacity: 0.2
}

.awards {
	overflow-x: clip;
	> div {
		overflow-x: hidden;
		width: 100%;
	}

	.award {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 10em;
		max-height: 10em;
		margin: 0 0 2em;

		> img {
			position: absolute;
			width: 100%;
			height: 100%;
		}

		.award-webby {
			left: 1.25%;
			transform: scale(.9) translate3d(0,0%,0);
		}
		.award-cssda {
			transform: scale(1.65) translate3d(0,7.5%,0);
		}
		.award-awwwards {
			transform: scale(.55) translate3d(0,22%,0);
		}
		.award-envato {
			transform: scale(1) translate3d(0,12%,0);
		}
	}
}