/* ==========================================================================
  Typo
========================================================================== */

html {
	font-family: var(--font-secondary);
	font-size: 16px;
	font-weight: var(--fwb);
	line-height: var(--flh);
	font-style: normal;
	background-color: var(--cdominant);
	color: var(--cdominantp);
	//word-wrap: break-word;

	font-size: var(--fs);
}

strong, b {
	font-weight: var(--fwbs);
}

p {
	//font-size: .85em;
	letter-spacing: -.0125em;
	width: 100%;

	&:empty {
		display: none;
	}
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6  {
	text-overflow: ellipsis;
	//text-transform: uppercase;
	strong {
		font-weight: var(--fwhs);
	}
}

.lowercase {
	text-transform: lowercase;
}
.uppercase {
	text-transform: uppercase;
}
.capitalize {
	text-transform: capitalize;
}

.outline {
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 0.09em;
}

li::marker + p {
	margin-top: -1rem;
}


/* ==========================================================================
	PRE
========================================================================== */

pre {
	font-family: Consolas,"Roboto Mono","Liberation Mono",Menlo,Courier,monospace;
	font-size: .85rem;
	padding: 1.5rem;
	line-height: 1.42;
	margin: 0 0 1.5rem;
	background: hsla(0,0%,0%,0.04);
	border-radius: 3px;
	overflow: auto;
	white-space: pre;
}

code {
	font-family: Consolas,"Roboto Mono","Liberation Mono",Menlo,Courier,monospace;
	font-size: .85rem;
	line-height: 1.5rem;
	padding: .2em 0;
	background-color: hsla(0,0%,0%,0.04);
	border-radius: 3px;
	white-space: pre;

	&::before {
		content: " ";
		letter-spacing: -0.2em;
	}
	&:after {
		content: " ";
		letter-spacing: -0.2em;
	}
}

/* ==========================================================================
	Types (text-level elements)
========================================================================== */

abbr {
	text-decoration: dashed;
}

cite {
	opacity: 0.7;
}

del {
	opacity: 0.4;
}

dfn {
	text-decoration: wavy;
}

ins {
	opacity: 0.9;
}

mark {
	text-decoration: dotted;
}

q {
	text-decoration: double;
}

s {
	text-decoration: line-through;
}

sub {
	vertical-align: sub;
	font-size: .8em;
}

sup {
	vertical-align: super;
	font-size: .5em;
}

u {
	text-decoration: underline;
}

/* ==========================================================================
	Font Sizes
========================================================================== */

h1, .h1,
h2, .h2 {
	font-family: var(--font-primary);
	font-weight: var(--fwh);
	letter-spacing: 0;
	margin: 3rem 0 1rem;

	& + p {
		margin-top: -.5rem;
	}
}

h3, .h3,
h4, .h4 {
	font-family: var(--font-primary);
	font-weight: var(--fwh);
	letter-spacing: 0;
	margin: 2rem 0 1rem;
}

h5, .h5,
h6, .h6 {
	font-family: var(--font-primary);
	font-weight: var(--fwh);
	letter-spacing: 0;
	margin: 2rem 0 1rem;
}

h1, .h1 {
	font-size: 5em;
	line-height: 1;

	@media screen and (max-width: 767px) {
		font-size: 2.5em;
	}
}

h2, .h2 {
	font-size: 3em;
	line-height: 1.1;

	@media screen and (max-width: 767px) {
		font-size: 2.5em;
	}
}

h3, .h3 {
	font-size: 2.25em;
	line-height: 1.1;
}

h4, .h4 {
	font-size: 1.75em;
	line-height: 1.1;
}

h5, .h5 {
	font-size: 1.35em;
	line-height: 1.2;
}

h6, .h6 {
	font-size: 1.1em;
	line-height: 1.2;
}

p {
	margin: 1rem 0;
}


h1,h2,h3,h4,h5,h6,p,address, br {
	text-rendering: optimizeLegibility;
  
	span, br {
	  line-height: inherit;
	}
  
	&:first-child {
	  margin-top: 0;
	}
  
	&:last-child {
	  margin-bottom: 0;
	}
}

/* ==========================================================================
	Mark
========================================================================== */

mark {
	display: inline-block;
	background: var(--clead);
	padding: 0 .15em;
}

.splitting {
	mark {
		background: none;
		padding: 0;

		span {
			background: var(--clead);
			padding: 0 .15em;
		}
	}
}

/* ==========================================================================
	Tables
========================================================================== */

table {
	width: 100%;
	margin: 1.5em 0;
	text-align: left;
	// text-transform: uppercase;
	font-size: 0.85em;
	border-spacing: 0px;
	background: transparent;
	border: none;
	border-collapse: collapse;
	
	tr {
		border-top: 1px solid;
		border-bottom: 1px solid;
	}
  
	// thead {
	//   font-weight: 800;
	// }
  
	// th, td, thead td {
	//   padding: 1em;
	// }
  
	td {
		padding: 0 0.2em;
	}
}

.td-border-off {
	tr {
		border: none;
	th {
		padding: 0.3em 0.5em;
	}
	td {
		padding: 0.3em 0.5em;
	}
		&:first-of-type {
			border-top: 2px solid;
			border-bottom: 2px solid;
		}
	}
}

/* ==========================================================================
	Lists
========================================================================== */

ul, ol {
	margin: 0 0 1.5rem 1em;
	padding: 0;
	list-style-type: square;
	list-style-position: outside;
	list-style-image: none;

	li {
		padding-left: 0;
		margin-bottom: calc(1.5rem / 2);
	}
	
	&:last-child {
		margin-bottom: 0;
	}
}

ol {
	list-style-type: decimal;
}

/* ==========================================================================
	Helpers
========================================================================== */

::selection {
	background: var(--clead); /* WebKit/Blink Browsers */
	color: var(--c0);
}

::-moz-selection {
	background: var(--clead); /* Gecko Browsers */
	color: var(--c0);
}

.uppercase {
	text-transform: uppercase;
}

.justified {
	text-align: justify;
}

.nowrap {
	white-space: nowrap;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

hr {
	position: relative;
	display: block;
	width: 100%;
	height: 7px;
	border: none;
	overflow: visible;
	margin: 1em 0 calc(1em + 7px);

	&:last-child {
		margin-bottom: 0;
	}

	&.padd-top-hr {
		padding-top: calc(1em + 2vw - 14px);
	}

	&:after {
	  content: '';
	  position: absolute;
	  border: 0;
	  border-top: 7px solid var(--c1);
	  width: 100%;
		max-width: 8em;
	  // left: 50%;
	  left: 0%;
	  // transform: translate3d(-50%,0,0);
	  transform: translate3d(0,0,0);
	}

	&.center {
		&:after {
			left: 50%;
			transform: translate3d(-50%,0,0);
		}
	}
}

.hr-tiny {
	hr {
		&:after {
			border-top: 2px solid #1c1c1c;
			width: 1.5em;
			left: 0;
		}
	}
}

br {
	line-height: 100%;
}

a {
	position: relative;
	text-decoration: underline;
  color: var(--clead);
  
  &:hover {
    color: var(--clead2);
  }
}

a {
	transition: color .15s ease-in-out;

	// &:not(.nostrike)::before {
	// 	content: "";
	// 	position: absolute;
	// 	bottom: 50%;
	// 	left: 50%;
	// 	width: calc(100% + 1em);
	// 	height: 2px;
	// 	margin: auto;
	// 	opacity: 0;
	// 	transform: translate3d(-75%,0,0);
	// 	transition: all .15s ease-in-out;
	// }

	// &:hover::before {
	// 	opacity: 1;
	// 	transform: translate3d(-50%,0,0);
	// }
}

div:focus {
	outline:0
}

.fs-125, .big {
	font-size: 1.25em;
}

.fs-1125 {
	font-size: 1.125em;
}

.fs-100, .normal {
	font-size: 1em;
}

.fs-85, .small {
	font-size: .85em;

	h1, .h1,
	h2, .h2,
	h3, .h3,
	h4, .h4,
	h5, .h5,
	h6, .h6  {
		margin: 2.55rem 0 1.275rem;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	p {
		margin: 1.275rem 0;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.fw-100, .thin {
	font-weight: 100;
}

.fw-200 {
	font-weight: 200;
}

.fw-300, .slim, .light {
	font-weight: 300;
}

.fw-400 {
	font-weight: 400;
}

.fw-500 {
	font-weight: 500;
}

.fw-600 {
	font-weight: 600;
}

.fw-700, .fat {
	font-weight: 700;
}

.fw-800 {
	font-weight: 800;
}

.fw-900, .bold {
	font-weight: 900;
}

/* ==========================================================================
	SubHeadings
========================================================================== */

h1 + h2 {
	margin-top: 1em;
}
h1 + h6 {
	margin-top: -1em;
}

h2 + h6 {
	margin-top: 0rem;

	+ hr {
		margin-top: 2em;
	}
}

h3 + h5 {
	margin-top: -.75rem;
}

h3 + h6 {
	margin-top: -1rem;
}

h3 + h4 {
	margin-top: 0;
}

h4 + h2 {
	margin-top: -.25em;
}

h5 + p {
	margin-top: 0rem !important;
}

h6 + p {
	margin-top: 0rem !important;
}

.f1 {
	font-family: var(--font-primary);
}
.f2 {
	font-family: var(--font-complimentary);
}
.f3 {
	font-family: var(--font-secondary);
}