

.inputfile {
  input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  
  .inputfilelabel {
    color: #274F37;
  }
}

.careers-form {
	padding: 4rem calc(3vw + 2.5em) 4rem;

}

.btn-image-light {
	width: auto !important;
	margin: 0 auto !important;
	border: none !important;
	color: #212121 !important;
	background: url(./btn.png) center / 100% 100% no-repeat !important;
	transition: all 0.2s ease-in-out !important;
	&:hover {
		opacity: 0.5 !important;
	}
}
