#section-recipes-new {
	padding: 1.7em;

	@media screen and (max-width: 1024px) {
		padding: 1.25em 1em 2em;

		.aspect-auto-mobile-off {
			aspect-ratio: auto !important;
		}
	}

	.tile {
		position: relative;

		&::after {
			content: '';
			display: block;
			width: 93%;
			height: 1px;
			background-color: #DCBA7B;
			position: absolute;
			bottom: -1px;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	.main-grid {
		background-color: #0C1C12;
		padding: 1em 2em;

		@media screen and (max-width: 1024px) {
			padding: 1em;
		}

		.scroll-container {
			overflow: auto;
			width: 100%;
			padding-left: 20px;

			@media screen and (max-width: 1024px) {
				padding-left: 4px;
			}

			&::-webkit-scrollbar {
				width: 25px;
				padding: 2em;

				@media screen and (max-width: 1024px) {
					width: 5px;
					padding: 0em;
				}
			}

			&::-webkit-scrollbar-track {
				border-radius: 100vh;
				background: #8B816E;
			}

			&::-webkit-scrollbar-thumb {
				background: #DCBA7B;
				border-radius: 100vh;
			}
		}
	}


	p {
		font-size: 0.75em;
		margin: 0 !important;
		word-spacing: 2px;
	}

	.content-container {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;

		.heading {
			font-size: 1.25em;
			width: 100%;
			line-height: 1.15;
		}
	}

	.heading {
		margin-bottom: 0 !important;
	}


	.gold-border {
		border: solid 1px #DCBA7B;
	}

	.grid-item {
		padding: 1.5em 1em;
		align-items: center;

		transition: background-color 0.5s ease, border 0.5s ease;
		border: solid 1px #DCBA7B00;

		&.hovered {
			background-color: #454138;
			border: solid 1px #DCBA7B;
		}
	}
}