.post {
	img[class^="wp-"],
	img.aligncenter,
	img.aligncenter,
	img.alignright {
		border: calc(1em + 1vw) solid var(--c1);
		border-radius: 7px;
		margin: 1em 0;
	}

	ul, ol {
		margin-left: calc(1em + 1vw);
	}

	.post-intro {
		position: relative;
		padding-top: 30%;
		margin-bottom: calc(1em + 2vw);
		
		img {
			z-index: -1;
			position: absolute;
			inset: 0;
			object-fit: cover;
		}

		.post-title-wrap {
			position: relative;
			left: calc(-1em - 2vw);
		}
		.post-title {
			font-size: 2.75em;
		}
	}
}